tensorflow
numpy
pandas
scipy
matplotlib
torch
torchvision


# jupyterlab and extension
jupyterlab
jupyterlab_code_formatter
black
isort
jupyterlab_widgets
ipywidgets
lckr-jupyterlab-variableinspector
jupyterlab_tabnine
# jupyterlab-kite
jupyterlab_flake8
flake8