# tensorflow
tensorflow
pyyaml
h5py
seaborn
keras-tuner

numpy
pandas
scipy
matplotlib
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu116


# jupyterlab and extension
jupyterlab
jupyterlab_code_formatter
black
isort
jupyterlab_widgets
ipywidgets
lckr-jupyterlab-variableinspector
jupyterlab_tabnine
# jupyterlab-kite
jupyterlab_flake8
flake8